:root{
    --maxHeightImg: 20px;
    --maxWidthImg: 30px;
    --widthDivDataBar: 60px;
    --paddingDataCityBar: 5px;
}

#dataBar{
    padding: var(--paddingDataCityBar);

    display: flex;
    flex-direction: row;
}

#dataBar div{
    width: var(--widthDivDataBar);
}

#dataBar img{
    max-height: var(--maxHeightImg);
    max-width: var(--maxWidthImg);
    vertical-align: middle;
}