:root{
    --nbLines:   8;
    --nbColumns: 12;
    --sizeTile:  65px;
    --widthTileImg: 55px;

    --widthSetTiles:  calc(var(--sizeTile) * var(--nbColumns));
    --heightSetTiles: calc(var(--sizeTile) * var(--nbLines));
}

#map{
    background-color: #FAE8C2;
    padding: 5px;
    flex: 1;
}

/* there are other properties defined in .js */
#setTiles{
    width: var(--widthSetTiles);
    height: var(--heightSetTiles);
    margin: auto;
    border: 0.5px solid grey;

    display: grid;
    grid-template-rows: repeat(var(--nbLines), 1fr);
    grid-template-columns: repeat(var(--nbColumns), 1fr);
}

.tile{
    height: var(--sizeTile);
    width: var(--sizeTile);
    background-size: var(--sizeTile) var(--sizeTile);
    text-align: center;
    border: 0.5px solid grey;
    box-sizing: border-box;
}

.tile img{
    width: var(--widthTileImg);;
    max-height: var(--widthTileImg);
}

#map.pausePlaying .tile{
    filter: grayscale(100%);
}

.backgroundTile_0{
    background-image: url("../images/tile_green_00.svg");
}

.backgroundTile_1{
    background-image: url("../images/tile_green_01.svg");
}

.backgroundTile_2{
    background-image: url("../images/tile_green_02.svg");
}

.backgroundTile_3{
    background-image: url("../images/tile_green_03.svg");
}
