:root{
    --sizeTile: 60px;
    --widthTileImg: 55px;
}

#map{
    background-color: #FAE8C2;
    padding: 5px;
    flex: 1;
}

#map table{
    border-collapse: collapse;
    border: none;
    margin: auto;
}

.tile{
    height: var(--sizeTile);
    width: var(--sizeTile);
    background-size: var(--sizeTile) var(--sizeTile);
    text-align: center;
    border: 1px solid grey;
}

.tile img{
    width: var(--widthTileImg);;
    max-height: var(--widthTileImg);
}

.backgroundTile_0{
    background-image: url("../images/tile_green_00.svg");
}

.backgroundTile_1{
    background-image: url("../images/tile_green_01.svg");
}

.backgroundTile_2{
    background-image: url("../images/tile_green_02.svg");
}

.backgroundTile_3{
    background-image: url("../images/tile_green_03.svg");
}