:root{
    --widthBody: 1100px;
}

body{
    font-family: Arial, 'Trebhuchet MS', sans-serif;
    width: var(--widthBody);
    margin: auto;
}

header{
    text-align: center;
    background-color: #D6C8B9;
    padding: 5px;
}

#dataBar{
    /* in dataCityBar.css*/
}

#playArea{
    display: flex;
    flex-direction: row;
}

footer{
    text-align: center;
    background-color: #D6C8B9;
    padding: 5px;
}

footer p{
    margin: 0;
}