:root{
    --nbToolsPerLine: 3;
    --widthToolsBarImg: 50px;
    --marginToolsBarTool: 4px;
    --paddingToolsBarTool: 3px;

    --widthToolsBar: calc( var(--nbToolsPerLine) * ( var(--widthToolsBarImg) + 2*var(--marginToolsBarTool) + 2*var(--paddingToolsBarTool) ) );
}

#toolsBar{
    background-color: #F9DC5C;
    padding: 5px;
    width: var(--widthToolsBar);
}

#toolsList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#toolsList img{
    width: var(--widthToolsBarImg);
}

.selectableTool{
    margin: var(--marginToolsBarTool);
    padding: var(--paddingToolsBarTool);
}

.selectedTool{
    box-shadow: 0 0 5px black;
}